@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 200;
  src: url("Roboto-Light.woff") format("woff"); }
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("Roboto-Regular.woff") format("woff"); }
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url("Roboto-Medium.woff") format("woff"); }
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("Roboto-Bold.woff") format("woff"); }
:host,
:host *,
::content * {
  box-sizing: border-box;
  outline: none; }

:host {
  display: block;
  position: relative;
  background-color: white;
  padding: 16pt;
  border-bottom: 1pt solid rgba(0, 0, 0, 0.12); }

.card-header {
  margin-bottom: 10px;
  font-size: 14pt;
  color: #009688;
  font-weight: normal; }
  .card-header core-icon {
    position: absolute;
    left: 16pt; }
  .card-header .group-label {
    padding-left: 24pt; }

.group-content {
  padding-left: 24pt; }
