@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 200;
  src: url("Roboto-Light.woff") format("woff"); }
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("Roboto-Regular.woff") format("woff"); }
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url("Roboto-Medium.woff") format("woff"); }
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("Roboto-Bold.woff") format("woff"); }
:host,
:host *,
::content * {
  box-sizing: border-box;
  outline: none; }

:host {
  font-size: 10pt;
  width: 100%; }

.filterWrapper {
  background-color: white; }

uqlibrary-filter-group {
  padding-right: 20pt; }
  uqlibrary-filter-group div.groupContentWrapper[horizontal] paper-dropdown-menu {
    min-width: 150px;
    margin-right: 20px; }
    uqlibrary-filter-group div.groupContentWrapper[horizontal] paper-dropdown-menu:last-child {
      margin-right: 0px; }

paper-dropdown-menu {
  display: block;
  width: 100%; }
  paper-dropdown-menu paper-dropdown paper-item:hover {
    background-color: whitesmoke; }

paper-input {
  display: block; }
  paper-input::shadow input {
    color: rgba(0, 0, 0, 0.54); }
  paper-input#time {
    display: block;
    width: 100%; }

md-timepicker::shadow #card {
  border: 1px solid whitesmoke;
  margin-top: 0pt;
  margin-bottom: 0pt;
  height: 360px;
  width: 225px; }
  md-timepicker::shadow #card #display {
    background-color: #009688 !important;
    height: 108px;
    padding: 21.6px;
    color: white;
    font-size: 41.4px; }
    md-timepicker::shadow #card #display .digit {
      opacity: 0.7; }
      md-timepicker::shadow #card #display .digit[active] {
        opacity: 1; }
  md-timepicker::shadow #card #keypad {
    font-size: 37.8px; }
    md-timepicker::shadow #card #keypad .digit {
      flex-basis: 56.7px;
      -webkit-flex-basis: 56.7px; }

paper-slider {
  width: 100%; }
  paper-slider::shadow #sliderBar {
    box-sizing: content-box; }
    paper-slider::shadow #sliderBar::shadow #activeProgress {
      background-color: #009688; }
  paper-slider::shadow #sliderKnobInner {
    background-color: #009688; }
    paper-slider::shadow #sliderKnobInner::before {
      background-color: #009688;
      display: block !important; }
  paper-slider#timePeriod {
    width: 50%; }

.sliderWrapper {
  color: rgba(0, 0, 0, 0.87);
  margin-top: 20pt; }

paper-checkbox::shadow #checkbox.checked {
  border-color: #009688; }

.equipment-item {
  margin-bottom: 10pt;
  color: rgba(0, 0, 0, 0.54); }
  .equipment-item core-icon {
    margin-right: 10pt; }

.buttonWrapper {
  padding: 10pt 20pt 40pt 20pt;
  position: relative; }
  .buttonWrapper paper-fab#applyButton {
    background-color: #4caf50;
    color: white; }

paper-toast#infoToast {
  position: fixed; }

.error {
  border-bottom: 1px solid #f44336; }
  .error::shadow #label {
    color: #f44336; }

core-overlay#timepickerDialog::shadow #actions {
  display: none; }
core-overlay#timepickerDialog::shadow #main {
  padding: 0px; }
